.componentPicker {
    position: fixed;
    z-index: 1000;
    bottom: 78px;
    top: 26px;
    right: 26px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1200px;

    opacity: .4;

    background-color: black;
    border-radius: 6px;
    padding: 6px 12px;

    transition: opacity .3s;

    overflow-y: scroll;
}

.componentPicker:hover {
    opacity: 1;
}

.componentPickerControls {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 12px;
}

.componentGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    color: white;
    gap: 6px;
    margin: 6px 0;
}

.componentPicker ul {
    justify-content: center;
    padding: 0;
}

.componentPicker ul li {
    list-style-type: none;
    margin: 0 6px;
    cursor: pointer;

    font-size: .8em;

    color: white;
}


.selectedComponent {
    height: 100%;
    overflow: hidden;
}

.propEditorMain {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.propEditor {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.prop-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.heading>button {
    height: 24px;
    width: 24px;
    padding: 0;
    line-height: 12px;
}

.toggleButton {
    position: fixed;
    bottom: 26px;
    right: 26px;
}

.componentCatagoryGrid {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.quick-controls {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;

    position: absolute;
    z-index: 99;
    bottom: 24px;
    right: 24px;
}

.componentPickerHead {
    display: flex;
    justify-content: space-between;
}

.componentPickerHead button {
    padding: 2px 6px;
    font-size: .8em;
}