.componentStateEditor {
    position: fixed;
    z-index: 1000;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    max-width: 400px;
    width: 330px;
    height: 100vh;

    opacity: .4;

    background-color: black;
    padding: 6px 12px;

    transition: opacity .3s;
}



.propEditorMain,
.pageEditorMain {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    font-size: .8em;
}

.propEditor {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.prop-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    width: 100%;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.heading > h5 {
    margin-top: 12px;
    font-size: 1.2em;
}

.heading > button {
    height: 24px;
    width: 24px;
    padding: 0;
    line-height: 12px;
}

.toggleButton {
    position: fixed;
    bottom: 26px;
    right: 26px;
}

.selectedComponent {
    height: 100%;
    overflow: hidden;
}


.componentStateEditor:hover {
 opacity: 1;
}

.propEditorControls {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 10px;
}

.tag {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 2px 4px;
    margin-right: 4px;
    font-size: 12px;
    color: #333;

    width: max-content;
}

.props-editor-subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    text-decoration: underline;
}