.componentStateEditor {
    position: fixed;
    z-index: 1000;
    top: 26px;
    right: 26px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;

    opacity: .4;

    background-color: black;
    border-radius: 6px;
    padding: 6px 12px;

    transition: opacity .3s;
}

.componentStateEditor {
    top: 26px;
    right: unset;
    bottom: 26px;
    left: 26px;
    padding: 6px 12px;
}


.propEditorMain {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.propEditor {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.prop-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.heading > button {
    height: 24px;
    width: 24px;
    padding: 0;
    line-height: 12px;
}

.toggleButton {
    position: fixed;
    bottom: 26px;
    right: 26px;
}

.selectedComponent {
    height: 100%;
    overflow: hidden;
}


.componentStateEditor:hover {
 opacity: 1;
}